.student{
    display: flex;
    flex-wrap: wrap;
}
.buttons{
    align-self: center;
    margin-top: 20px;
}
.buttons>button{
    cursor: pointer;
    background-color: brown;
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 10px;
    margin-left: 10px;
}
.student__main{
    display: flex;
    flex-direction: column;
    background-color: #a3caf8;
    min-height: 100vh;
    
}
.student__main>h1{
    align-self: center;
    font-size: 60px;
    margin-top: 30px;
    margin-bottom: 10px;
    
}